absl-py==2.1.0+computecanada
accelerate==0.32.1+computecanada
addict==2.4.0+computecanada
appdirs==1.4.4+computecanada
argparse==1.4.0+computecanada
astropy==5.3.4+computecanada
asttokens==2.4.1+computecanada
autocommand==2.2.2
backports.tarfile==1.2.0
bm3d==4.0.1
bm4d==4.2.3
certifi==2023.7.22+computecanada
cffi==1.16.0+computecanada
charset-normalizer==3.2.0+computecanada
click==8.1.7+computecanada
colorama==0.4.6+computecanada
contourpy==1.2.0+computecanada
cycler==0.12.1+computecanada
datetime==5.1+computecanada
distlib==0.3.8+computecanada
docker-pycreds==0.4.0+computecanada
einops==0.8.0+computecanada
executing==2.0.1+computecanada
facexlib==0.3.0+computecanada
ffmpeg==1.4
filelock==3.14.0
filterpy==1.4.5+computecanada
fitsio==1.2.0+computecanada
fonttools==4.51.0+computecanada
fsspec==2024.3.1+computecanada
ftfy==6.2.0
future==1.0.0
galsim==2.3.5
gitdb==4.0.11+computecanada
gitpython==3.1.40+computecanada
grpcio==1.62.1+computecanada
h5py==3.10.0+computecanada
huggingface-hub==0.24.0
icecream==2.1.3
idna==3.4+computecanada
image-quality==1.2.7
imageio==2.34.0+computecanada
imgaug==0.4.0+computecanada
importlib-metadata==8.0.0
importlib-resources==6.4.0
inflect==7.3.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jinja2==3.1.3+computecanada
joblib==1.4.2+computecanada
kiwisolver==1.4.5+computecanada
lazy-loader==0.3+computecanada
libsvm==3.23.0.4
llvmlite==0.43.0+computecanada
lmdb==1.4.1+computecanada
lsstdesc.coord==1.3.0
markdown==3.6
markupsafe==2.1.3+computecanada
matplotlib==3.7.2+computecanada
more-itertools==10.3.0
mpmath==1.3.0+computecanada
networkx==3.3+computecanada
numba==0.60.0+computecanada
numpy==1.26.4+computecanada
openai-clip==1.0.1
opencv-python==4.9.0.80
ordered-set==4.1.0
packaging==23.2+computecanada
pandas==2.2.1+computecanada
pillow-simd==9.0.0.post1+computecanada
pillow==10.2.0+computecanada
pip==24.1.2
platformdirs==4.2.1
protobuf==4.25.2+computecanada
psutil==5.9.8
pybind11==2.12.0
pycparser==2.22
pyerfa==2.0.0.1+computecanada
pygments==2.18.0+computecanada
pyiqa==0.1.11
pyparsing==3.0.9+computecanada
python-dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
pywavelets==1.4.1+computecanada
pyyaml==6.0.1+computecanada
regex==2023.8.8+computecanada
requests==2.31.0+computecanada
safetensors==0.4.3+computecanada
scikit-image==0.22.0+computecanada
scikit-learn==1.3.1+computecanada
scikit-video==1.1.11
scipy==1.12.0+computecanada
sentencepiece==0.2.0+computecanada
sentry-sdk==1.38.0+computecanada
sep==1.2.1
setproctitle==1.3.2+computecanada
setuptools==71.1.0
shapely==2.0.4+computecanada
six==1.16.0+computecanada
sklearn==0.0+computecanada
smmap==5.0.1+computecanada
sympy==1.12+computecanada
tabulate==0.9.0+computecanada
tensorboard-data-server==0.7.2
tensorboard==2.17.0+computecanada
threadpoolctl==3.5.0+computecanada
tifffile==2024.2.12+computecanada
timm==1.0.7
tokenizers==0.15.0+computecanada
tomli==2.0.1+computecanada
torch==2.3.0+computecanada
torchvision==0.18.0+computecanada
tqdm==4.66.2+computecanada
transformers==4.37.2+computecanada
typeguard==4.3.0
typing-extensions==4.11.0+computecanada
tzdata==2024.1+computecanada
urllib3==2.1.0+computecanada
virtualenv==20.26.1
wandb==0.16.0+computecanada
wcwidth==0.2.13+computecanada
werkzeug==3.0.3+computecanada
wheel==0.43.0
yapf==0.40.2+computecanada
zipp==3.19.2
zope.interface==6.1+computecanada